.popUpCreate{
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0 0 0 / 51%);
}

.container-caja-todo{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    border-radius: 12px;
    border: 0px;
}
/* .container-close {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
} */
.descripcion, .descripcionEdit {
    width: 85%;
    padding: 10px;
    margin-bottom: 10px;
    height: 60px;
    resize: none;
    border-radius: 12px;
    border: 0px;
    margin-top: 10px;
    outline-color: rgb(215 181 87 / 88%);
}
/* .button-add, .button-modificar {
    width: 40%;
    height: 35px;
    font-family: 'Indie Flower', sans-serif;
    border-radius: 12px;
    border: 0px;
    cursor: pointer;
    background-color: rgb(255 231 164);
} */
.titulo {
    width: 85%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
    border: 0px;
    margin-top: 10px;
    outline-color: rgb(215 181 87 / 88%);
}
.titulo-caja{
    width: 100%;
    display: flex;
    justify-content: center;
}
.iconClose {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(215 181 87 / 88%);
    border-radius: 50px;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.errorTitulo{
    color:red
}